body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1d243d;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    background: #fff;
    padding: 20px;
    max-width: 480px;
    margin: 25vh auto;
    text-align: center;
    letter-spacing: 1px;
}

.button > button {
    background-color: #4CAF50;
    margin-top: 15px;
}